[submodule "3rd/CppUTest"]
	path = 3rd/CppUTest
	url = https://github.com/GerHobbelt/cpputest.git
[submodule "3rd/Catch2"]
	path = 3rd/Catch2
	url = https://github.com/GerHobbelt/Catch2.git
[submodule "3rd/Catch1"]
	path = 3rd/Catch1
	url = https://github.com/GerHobbelt/Catch2.git
[submodule "3rd/doctest"]
	path = 3rd/doctest
	url = https://github.com/GerHobbelt/doctest.git
[submodule "3rd/cppcheck"]
	path = 3rd/cppcheck
	url = https://github.com/GerHobbelt/cppcheck.git
[submodule "3rd/check"]
	path = 3rd/check
	url = https://github.com/GerHobbelt/check.git
